@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: .4fr 1fr;
    grid-template-rows: 60px auto;
    grid-template-areas: "header header" "aside main";
    height: 100vh;
    width: 100vw;
    font-family: "Poppins";
}
.warpper{
    padding-left: 5%;
    padding-right: 5%;
}

header{
    grid-area: header;
    background-color: #03045e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1,header p{
    color: white;
    margin: 0;
}
header p{
    padding-left: 10px;
    padding-right: 10px;
    border-radius:20px ;
    background-color: #0003f9;

}

aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.aniamtion-class{
    animation: shake 0.1s 3 ease-in;
}
@keyframes shake {
    25%{
        transform: translateX(2px);
    }
    75%{
        transform: translateX(-2px);
    }
}


.add-update-container{
    border: solid 1px #6baad6;
    width: 100%;
    padding: 5px;
    border-radius: 8px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    min-width: 50%;
    padding: 8px;
    border-radius: 18px;
    border: none;
}
.active-button{
    background-color: #03045e;
    color: white;
}
.deactive-button{
    background-color: transparent;
    color:#015a98
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    color: #03045e;
    font-weight: 700;
}
input,select{
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
    border: solid 1px #6baad6;
    color: #015a98;
    font-weight: 500;
}
input::placeholder{
    color: #015a98;
    font-weight: 500;
}

label{
    color: #015a98;
    font-weight: 400;
}
.hidden{
    display: none;
}

main{
    grid-area: main;
    background-color: #f1f1f1;
    overflow: hidden;
    
}
main section{
    height: 80%;
    overflow: auto;
    border-radius: 8px;
}
.total-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.total-product div h3, .total-product div p{
    margin: 0px;


}
.total-product div h3{
    color: #03045e;;
}
.total-product div p{
    font-weight: 200;
    font-size: 12px;
    text-align: center;
}
.total-product div:nth-of-type(2) {
    display: flex;
    
}
.total-product div  button{
   background-color: white;
   margin-left: 5px;
    
}
.product-count {
    background-color: #03045e;
    padding: 8px;
    border-radius: 20px;
    color: white;
}


table{
    width: 100%;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden; 
    background-color: white;
}
thead{
    color: white;
    background-color: #03045e;
    text-align:left;
}
tbody{
    font-size: 13px;
    font-weight: 200;
}
tbody button{
    min-width: 0;
    width: 65px;
    padding: 4px;
    
}
td, th{
    padding: 4px;
}

.table-cell-5{
    width: 5%;

}
.table-cell-15{
    width: 15%;

}
.table-cell-20{
    width: 20%;

}

